$yellow: #FFE21F;
$blue: #2185D0;
$blue-dark: #28394D;
$bg-color: #F4F3EF;

$gray: #777777;
$gray-light: #DDDDDD;
$gray-lighter: #F3F3F3;

$sidebar-width: 260px;
$header-height: 64px;

$padding-sm: .618em;
$padding-md: 1em;
