.AddressInput {
    .ui.card {
        min-height: 120px !important;
    }
    .ui.card>.extra {
        padding: 0;
        button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
