@import './variables';

.BitcoinTicker {
    .content {
        text-align: center;
        &:nth-child(2) {
          min-height: 80px;
          .ui.active.loader {
              margin-top: 30px;
          }
        }
    }

    .extra {
        text-align: left;
    }

    h2.header {
        margin-bottom: 4px;
        font-weight: 300;
        text-align: left;
        .cc {
          margin-right: 10px;
          vertical-align: baseline;
        }
    }

    .ui.statistic:first-child {
        margin-top: 2px;
    }

    .ui.statistic>.value,
    .ui.statistics .statistic>.value {
        font-size: 3rem !important;
    }
}

.ui.active.loader {
    &:after {
        border-color: $blue transparent transparent;
    }
}
