@import './variables';

.BitcoinTicker {
    .content {
        text-align: center;
    }

    .extra {
        text-align: left;
    }

    h2.header {
        margin-bottom: 4px;
        font-weight: 300;
    }
}
