@import './variables';

.Layout__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: $blue-dark;
    padding: $padding-md;
}

.Layout__content {
    position: absolute;
    top: 0;
    left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    height: 100%;
    background-color: $bg-color;
}

.Layout__body {
    padding: $padding-md * 2;
}
