@import './variables.scss';

.TransactionFeed {
    .ui.feed {
        max-height: 500px;
        overflow-y: auto;
        width: 100%;

        >.event {
            padding-left: $padding-md;
            > .label {
                width: auto;
            }
        }
    }
}
